.form-group.form-html{
    width:60% !important;
}
.form-group.form-css{
    width:30% !important;
}
#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.messagesList {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
}
.owner{
	background-color: #ccc;
	margin-left: 30px;
	width: 90%;
}
.noowner{
	background-color: blue;
	margin-left: 30px;
	width: 90%;
}